{% load static humanize %}
  {% for item in items %}
    <div class="cart-row">
      <div style="flex:2"><img class="row-image" src="{{item.product.imageUrl}}" alt=""></div>
      <div style="flex:2">{{item.product.name}}</div>
      <div style="flex:1">{{item.product.price|intcomma}}</div>
      <div style="flex:1">
        <p class="quantity">{{item.quantity}}</p>
        <div class="quantity">
          <img class="chg-quantity" src="{% static "images/arrow-up.png" %}" alt="">
          <img class="chg-quantity" src="{% static "images/arrow-down.png" %}" alt="">
        </div>
      </div>
      <div style="flex:1">{{item.get_total|intcomma}}</div>
    </div>
  {% endfor %}